* {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 13vh;
    /*la suma de las unidaddes =100*/
}

main {
    height: 75vh;
    /*unidad vieewidth es para que tome el 15 pociento de la psantalla en heigt y vw en ancho (si usamos 90% tendriamosque esfecificar el tamaño  en px de la pantalla y no cabrian mas elementos*/

    /*para acomodar los elementos en el centro*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    height: 12vh;
}

img {
    border-radius: 50px;
}

svg {
    padding: 5px;
    margin: 0px;
}

header nav {
    display: flex;
    /*para quer se acomoden los elementos del nav, uno del lado del otro*/
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style: none;
    /*parq uer no tenga los puntos las listas*/
}

li {
    padding: 20px 10px;
}

#nav-right-section {
    padding: 20px 10px;

}

#nav-left-section {
    padding: 10px 10px;

}

#footer-listas ul li {
    padding: 16px;


}

button {
    background-color: #f8f8fa;

    padding: 0px 16px;
    margin: 11px 4px;
    height: 36px;
    border: 1px solid #f8f8fa;
    border-radius: 4px;
    cursor: pointer;
    /*para que se ponga la manitaencima del elemento */
    color: #3c4043;

}

button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;

}

#botones {
    margin-bottom: 10%;
}

#seccion-buscador {
    margin: 20px 0px;
    border: 1px solid #dfe1e5;
    min-height: 40px;
    border-radius: 24px;
    width: 560px;
    display: flex;
    justify-content: space-between;
}

#seccion-buscador svg {
    /*modelo de cajas son jugar con los espaciados*/
    padding: 5px 7px;
    width: 28px;
}

input {
    /*width: 100%; funiona porqu el padre tiene ancho en px*/
    width: 85%;
    border: none;
    outline: none;
}

#seccion-buscador:hover {
    background-color: #fff;
    /*para la sombra
    pomero las posicines x,y , la transparencia y el color*/
    box-shadow: 0px 1px 6px rgba(23, 33, 36, 28);
}

a:link {
    text-decoration: none;
    color: rgba(0, 0, 0, 87);

}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;

}


#section-footer {
    justify-content: space-between;
    display: flex;
    /*para quer se acomoden los elementos del nav, uno del lado del otro*/
    flex-wrap: wrap;
    background-color: #dce4f0;
    height: 50px;

}

#section-footer ul li a {
    display: block;
    padding: 15px;
    white-space: nowrap;

    font-family: arial, sans-serif;
    color: #70757a;
    padding: 0px;
    margin: 0px;

}

#footer-listas {
    font-size: 18px;
    font-family: arial, sans-serif;
    color: #70757a;



}

#section-footer1 {
    height: 50px;
    background-color: #dce4f0;

    font-size: 18px;
}